#movies img, #movie img{
  width: 95%;
}

.row .test{
  margin: 0 1.5% 0 1.5%;
}

body{
  background: rgb(17, 17, 17);
}

img{
  box-shadow: 4px 4px 16px -1px black;
  margin-bottom: 10px;
}

h2{
  color: #F4F4F4;
}

h3{
  color: #F4F4F4;
}

.jumbotron{
  background: #062F4F;
  border: 1px solid #F4F4F4;
}

nav.navbar.navbar-default{
  background: rgba(192, 177, 133, 0);
  border: 0px;
}

a.btn.btn-primary{
  background: #062F4F;
  border: 1px solid white;
  color: white;
}

.navbar-header .navbar-brand{
  color: #F4F4F4;
}

.well{
  background: #062F4F;
}

h5{
  color: #F4F4F4;
}

p{
  color: #F4F4F4;
};

