#movies img, #movie img{
  width: 90%;
  /* height: 100%; */
  /* border: 1px solid red; */
}

body{
  /* background: #373737; */
  background: black;
}

/* @media(min-width:960px){
  #movies .col-md-3 .well{
    margin-top: 20px;
    height: 390px;
  }

  #movies .col-md-3 img{
    height: 240px;
  }
} */

img{
  /* border: 3px solid white; */
  box-shadow: 4px 4px 16px -1px black;
  margin-bottom: 10px;
}

h2{
  color: #F4F4F4;;
}

h3{
  /* color: #C0B283; */
  color: #F4F4F4;
}

.jumbotron{
  /* background: #DCD0C0; */
  /* background: rgba(192, 177, 133, 0); */
  background: #062F4F;
  /* background: #062F4F; */
}

nav.navbar.navbar-default{
  /* background: #DCD0C0; */
  /* background: #C0B283;
  border: 1px solid #C0B283; */
  background: rgba(192, 177, 133, 0);
  /* background: #062F4F; */
  border: 0px solid #062F4F;
}

a.btn.btn-primary{
  background: #062F4F;
  border: 1px solid white;
  color: white;
}

.navbar-header .navbar-brand{
  color: #F4F4F4;
}


.well{
  /* border: 3px solid white; */
  background: #062F4F;
  /* box-shadow: 8px 8px 16px -1px black; */
  /* background: #557A95; */
}

h5{
  color: #F4F4F4;
}

p{
  color: #F4F4F4;
};

li{
  border: 10px solid #F4F4F4;
}



/* h5{
  margin-left: 8%;
  margin-right: 8%;
}

div.well.text-center{
  margin-top: 20px;
  min-height: 98%;
}

a.navbar-brand{
  color: white;
}

nav.navbar.navbar-default{
  background: #0e0e0e;
  border-bottom: 1px solid #292828;
}

.jumbotron{
  margin-top: 20px;
  background: #292828;
}

.well{
  background:#292828;
}

.img-thumbnail{
  margin: 20px 0 20px 0;
  border: 3px solid #1d1d1d;
}

#movies .col-md-3 .well{
  margin-top: 20px;
}

div#movie.well{
  margin-top: 20px;
}

hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div.test{
  margin-left: 40px;
  margin-top: 50px;
  border: 2px solid rgb(59, 59, 59);
} */



/* img.thumbnail{
  border: 5px solid #1d1d1d;
  margin-left: 20px;
  margin-top: 20px;
}

.row{
  
} */